<!DOCTYPE html>
<html>
    <head>
        <title>Natural Language Processor</title>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Parisienne&family=Sacramento&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
        </header>
        <main>
            <section>
                <h1>Natural Language Processor</h1>
                <div class="content-wrapper">
                    <form>
                        <input type="text" id="url" placeholder="enter url">
                        <button id="submit">Submit</button>
                    </form> 
                    <div id="results">
                        <p id="confidence">Confidence: </p>
                        <p id="subject">subjectivity: </p>
                        <p id="scoreTag">scoreTag: </p>
                    </div>
                </div>
            </section>
        </main>
        <footer>
        </footer>
    </body>
    <script type="module" src="app.js"></script>
</html>