<!DOCTYPE html>
<html>
    <head>
        <title>Natural Language Processor</title>
        <meta charset="utf-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Parisienne&family=Sacramento&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
        </header>
        <main>
                <section>
                    <div class="text-wrapper">
                        <h1>Natural Language Processor</h1>
                        <h2>Type in a url of an article or text to analysis it</h2>
                    </div>
                    <form>
                        <input type="text" id="url" placeholder="enter url">
                        <button id="submit">Submit</button>
                    </form> 
                    <div id="results">
                        <p id="text-results">The Analysed Text is <span>Subjective</span> and is written in a <span>Positive</span> way. The confidence of this analysis is <span>86%</span>. </p>
                    </div>
                </section>
        </main>
        <footer>
            <h3>A website by Andrew White. Using the ... API</h3>
        </footer>
        <script>
            if ('serviceWorker' in navigator){
                window.addEventListener('load', ()=>{
                    navigator.serviceWorker.register('./service-worker.js');
                });
            }
        </script>
    </body>
    <script type="module" src="app.js"></script>
</html>