$accent-color: #14c5dd;
$tablet: 768px;
$small-laptop: 1024px;
$medium-laptop: 1330px;

body {
  margin: 0;
  background-color: #f3f3f3;
  // font-family: "Dancing Script", cursive;
  font-family: "Tangerine", serif;
  height: 100vh;
  color: rgb(75, 74, 74);
}

//#e25615
