@import "base.scss";

#results {
  margin-top: 10%;
  // border: 1px blue solid;
  width: 95%;
  //height: 40%;
  text-align: justify;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet) {
    margin-top: 8%;
    font-size: 2em;
  }

  @media (min-width: $small-laptop) {
    margin-top: 8%;
    font-size: 2em;
    width: 80%;
  }

  @media (min-width: $medium-laptop) {
    font-size: 2.5em;
  }

  .text-results {
    display: none;
    margin: 0;

    span {
      text-decoration: underline;
      font-weight: bold;
      color: $accent-color;
    }
  }
}

.loader {
  display: none;
  margin: 0 auto;
  border: 16px solid #fff; /* Light grey */
  border-top: 16px solid $accent-color; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  width: 80;
  text-align: center;
  border: 3px red solid;
  background-color: rgb(230, 98, 98);
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5em;
}

.display {
  display: inline-block;
}

.non-display {
  display: none;
}
